# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
.vs
.vscode

# VS Files
*.pdb
*.ilk

# clangd files
.cache
.clangd
compile_commands.json
compile_flags.txt

# CMake output
build

# ignore user-defined rules except base.r base.p
rules++/*
!rules++/base.*
